/* ---------------------------------------------- /*
 * General styles
/* ---------------------------------------------- */

/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);*/

/*body {
	font: 300 15px/1.6 'Raleway', serif, sans-serif;
	color: #545454;
}

img {
	max-width: 100%;
	height: auto;
}*/

a {
	color: #ececec;
}

a:hover {
	color: #C4C4C4;
}

/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	/*font: 400 46px/1.2 'Montserrat', serif, sans-serif;*/
	margin: 5px 0 5px;
	color: #222;
}

/*h1 {
	font-size: 64px;
	font-weight: 700;
	margin: 5px 0 15px;
}

h2 {
	font-size: 40px;
	font-weight: 700;
}

h3 {
	font-size: 22px;
	text-transform: uppercase;
	margin: 5px 0 15px;
}

h4 {
	font-size: 16px;
	margin: 5px 0 10px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 13px;
}*/

/* ---------------------------------------------- /*
 * Transition elements
/* ---------------------------------------------- */

.form-control {
	-webkit-transition: all 0.125s ease-in-out 0s;
	   -moz-transition: all 0.125s ease-in-out 0s;
		-ms-transition: all 0.125s ease-in-out 0s;
		 -o-transition: all 0.125s ease-in-out 0s;
			transition: all 0.125s ease-in-out 0s;
}

/* ---------------------------------------------- /*
 * Reset box-shadow
/* ---------------------------------------------- */

.form-control,
.form-control:hover, 
.form-control:focus {
	-webkit-box-shadow: none;
			box-shadow: none;
}

/* ---------------------------------------------- /*
 * Reset border-radius
/* ---------------------------------------------- */

.form-control {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		 -o-border-radius: 3px;
			border-radius: 3px;
}

/* ---------------------------------------------- /*
 * Inputs styles
/* ---------------------------------------------- */

.form-control {
	background: #FFF;
	border: 2px solid #C4C4C4;
	height: 54px;
	font-size: 14px;
	padding: 15px;
	color: #777;
}

.input-section-margin {
	margin-bottom: 10px;
}

.input-section-text {
	padding-top: 4px;
}

.input-group-price {
	width: 130px;
}

.input-price {
	font-size: 14px !important;
	font-weight: bold;
	font-style: italic !important;
	opacity: 0.9 !important;
	color: #2d2d2d;
	border-width: 1px;
	background: #f8f8f8;
}
.input-price:hover {
	cursor: default;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

/* ---------------------------------------------- /*
 * General
/* ---------------------------------------------- */
html,
body {
	height: 100%;
}

.wrap {
	min-height: 100%;
	position: relative;
}

.container {
	padding-top: 60px;
	padding-bottom: 90px;
}

.machine-title {
	margin-top: 10px;
	margin-bottom: 10px;
}

.machine-section {
	margin-bottom: 20px;
}

.section-price {
	margin-top: 20px;
}

.footer {
	background: #322e2e;
	padding: 15px 0 10px;
	color: #FFF;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.footer .copy {
	font-size: 12px;
	margin: 2px 0;
	text-align: center;
}

/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */

.navbar {
	background: none;
	border-radius: 0;
	border: 0;
	padding: 20px 0;
	text-transform: uppercase;
	color: #FFF !important;
}

.navbar-brand img {
	height: 50%;
}

/*.navbar-custom .nav li a:hover, 
.navbar-custom .nav li a:focus, 
.navbar-custom .nav li.active {
	background: none;
	outline: 0;
	color: #EF4836;
}

.navbar-custom .navbar-brand {
	font: 700 18px/1.2 'Montserrat', serif, sans-serif;
	color: #FFF;
}

.navbar-custom .navbar-nav > li.active {
	border-bottom: 3px solid #FFF;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #FFF;
}

.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > a {
	color: #FFF;
	font-size: 12px;
}

.navbar-color,
.custom-collapse {
	background: #FFF;
	box-shadow: 0 0 4px rgba(0, 0, 0, .2);
	padding: 0;
}

.navbar-color .navbar-brand,
.custom-collapse .navbar-brand,
.navbar-color .navbar-nav > li > a,
.navbar-color .navbar-nav .dropdown-menu > li > a,
.custom-collapse .navbar-nav > li > a,
.custom-collapse .navbar-nav .dropdown-menu > li > a {
	color: #222;
}

.navbar-color .navbar-nav > li.active {
	border-bottom: 3px solid #222;
}

.custom-collapse .navbar-nav {
	text-align: left;
}

.custom-collapse .navbar-nav > li.active {
	border: 0;
}

.navbar-color .navbar-toggle .icon-bar,
.custom-collapse .navbar-toggle .icon-bar {
	background: #222;
}*/
